h3
{
    font-family: Verdana;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-variant: small-caps;
    color:blueviolet;
}

p
{
    line-height: 2en;
    text-align: left;
    color: rgb(100,100,100)
}