h1
{
    color: purple;
    text-align: center;
    font-family: sans-serif;
    font-variant:small-caps;
    font-size: 3em;
}
p
{
   font-family: Georgia; 
    text-indent: 2em;
    line-height: 1.75em;
}
footer
{
    font-size: .75em;
}